@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Bitcount+Grid+Single:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Momo+Trust+Display&display=swap');
@import "tailwindcss";
@theme {
	--color-primary: #ffffff;
	--color-secondary: var(--color-gray-600);
	--color-vivid-blue: #0FB3F5;
	--color-vivid-pink: #FF65EB;
	--color-navy: #050259;
	--font-normal: "Momo Trust Display"
}

.intro {
	font-family: "Bitcount Grid Single";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}



@utility shadow-solid-* {
	/* x y blur spread */
	box-shadow: --value(--color-*) 0.5rem 0.5rem 0px 0.15rem;
}

@utility text-shadow-solid-* {
	/* x y blur spread */
	text-shadow: --value(--color-*) 0.25rem 0.25rem 0px;
}

@utility link-* {

	& {
		@apply underline underline-offset-[0.2em];
	}

	@media(hover:hover) {
		& {
			text-decoration: underline 0.15em;
			text-underline-offset: 0.2em;
			transition: text-decoration-thickness 300ms, text-underline-offset 300ms;
			@apply py-2 border-1 border-transparent;
		}

		&:hover {
			text-decoration-color: ----value(--color-*);
			text-underline-offset: 0.4em;
			border-color: --value(--color-*);
		}

	}
}


@utility fancy-underline-* {

	& {
		@apply underline underline-offset-[0.2em];
	}

	@media(hover:hover) {
		& {
			text-decoration: underline 0.15em;
			text-underline-offset: 0.2em;
			transition: text-decoration-thickness 300ms, text-underline-offset 300ms;
		}

		&:hover {
			text-decoration-color: ----value(--color-*);
			text-underline-offset: 0.4em;
		}

	}
}

body:has(a:hover) #cursor {
	opacity: 0;
}



@custom-variant any-hover {  
	@media (any-hover: hover) {
		&:hover {      
			@slot;    
		}
	}
}

@custom-variant supports-hover {  
	@media (any-hover: hover) {
			@slot;    
	}
}

body {
	font-family: var(--font-normal);
	background-color: var(--color-navy);

}

* {
	cursor: default;
}
