@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Bitcount+Grid+Single:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Momo+Trust+Display&display=swap');
@import "tailwindcss";
@theme {
	--color-primary: #ffffff;
	--color-secondary: #C4C4C4;
	--color-vivid-blue: #0FB3F5;
	--color-vivid-pink: #FF65EB;
	--color-navy: #050259;
	--font-normal: "Momo Trust Display"
}

.intro {
	font-family: "Bitcount Grid Single";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}


.link {
	text-decoration: underline 0.15em rgba(0, 0, 0, 0);
	text-underline-offset: 0.4em;
	transition: text-decoration-thickness 300ms, text-underline-offset 300ms;
}

.link:hover {
	text-decoration-color: rgba(rgb(from var(--color-primary) to r g b),1);
	text-underline-offset: 0.2em;
}

body {
	font-family: var(--font-normal);
	background-color: var(--color-navy);

}
